{% extends 'base.html.twig' %}

{% block title %}
    About ACM at UCR
{% endblock %}

{% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ asset('js/index/ie/html5shiv.js') }}"></script><![endif]-->
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index/main.css') }}" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('css/index/ie9.css') }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/index/ie8.css') }}" /><![endif]-->
    <link rel="stylesheet" href="{{ asset('css/index/about.css') }}" />
{% endblock %}

{% block javascripts %}
    <!-- Scripts -->
  <script src="{{ asset('js/index/skel.min.js') }}"></script>
  <script src="{{ asset('js/index/util.js') }}"></script>
  <!--[if lte IE 8]><script src="{{ asset('js/index/ie/respond.min.js') }}"></script><![endif]-->
  <script src="{{ asset('js/index/main.js') }}"></script>
{% endblock %}

{% block body %}
<body class="single">
  <!-- Wrapper -->
  <div id="wrapper">
        {% include 'components/header.html.twig' %}
        {% include 'components/menu.html.twig' %}

    <!-- Main -->
    <div id="main">
      <!-- Post -->
      <article class="post">
                <h1 class="text-center"> ACM at UCR Board 2017 - 2018 </h1>
                <div class="profiles">
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/aaroh.jpg') }}" />
                        <h3> Aaroh Mankad <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/aarohmankad/"></a></span></h2>
                        <span class="title"> President </h3>
                        <br />
                        <a class="email" href="mailto:aaroh@acmucr.org"> aaroh@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/daniel.jpg') }}" />
                        <h3> Daniel Stinson-Diess <span><a class="fa fa-linkedin-square" href="hhttps://www.linkedin.com/in/daniel-stinson-diess/"></a></span></h2>
                        <span class="title"> Vice President </h3>
                        <br />
                        <a class="email" href="mailto:daniel@acmucr.org"> daniel@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/janine.jpg') }}" />
                        <h3> Janine Huang <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/janine-huang-13269314a/"></a></span></h3>
                        <span class="title"> Secretary  </h3>
                        <br />
                        <a class="email" href="mailto:janine@acmucr.org"> janine@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/andrew.jpg') }}" />
                        <h3> Andrew To <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/andrew-to/"></a></span></h3>
                        <span class="title"> Treasurer </h3>
                        <br />
                        <a class="email" href="mailto:andrew@acmucr.org"> andrew@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/tim.jpg') }}" />
                        <h3> Timothy Koo <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/timothykool/"></a></span></h3>
                        <span class="title"> Outreach Chair </h3>
                        <br />
                        <a class="email" href="mailto:tim@acmucr.org"> tim@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/cam.jpg') }}" />
                        <h3> Cameron Morin <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/cameron-morin-213a35157/"></a></span></h3>
                        <span class="title"> Marketing Chair </h3>
                        <br />
                        <a class="email" href="mailto:cam@acmucr.org"> cam@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/harley.jpg') }}" />
                        <h3> Harley Siezar <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/harley-siezar/"></a></span></h3>
                        <span class="title"> Membership Chair </h3>
                        <br />
                        <a class="email" href="mailto:harley@acmucr.org"> harley@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/henry.jpg') }}" />
                        <h3> Patrick Tumbucon <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/patricktumbucon/"></a></span></h3>
                        <span class="title"> Professional Development Chair </h3>
                        <br />
                        <a class="email" href="mailto:patrick@acmucr.org"> patrick@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/will.jpg') }}" />
                        <h3> Will Shiao <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/will-shiao/"></a></span></h3>
                        <span class="title"> Project Manager</h3>
                        <br />
                        <a class="email" href="mailto:will@acmucr.org"> will@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/zach.jpg') }}" />
                        <h3> Zachary Zimmerman <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/zpzim/"></a></span></h3>
                        <span class="title"> Graduate Advisor </h3>
                        <br />
                        <a class="email" href="mailto:zach@acmucr.org"> zach@acmucr.org </a>
                    </div>
                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/brian.jpg') }}" />
                        <h3> Brian Crites <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/brrcrites/"></a></span></h3>
                        <span class="title"> Graduate Advisor </h3>
                        <br />
                        <a class="email" href="mailto:briancrites@acmucr.org"> briancrites@acmucr.org </a>
                    </div>

                    <div class="board-member">
                        <img class="profile-photo" src="{{ asset('img/board/zhijia.jpg') }}" />
                        <h3> Zhijia Zhao, PhD <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/zhijia-zhao-7144b129/"></a></span></h3>
                        <span class="title"> Faculty Advisor </h3>
                        <br />
                        <a class="email" href="mailto:zhijia@cs.ucr.edu"> zhijia@cs.ucr.edu </a>
                    </div>
                </div>
      </article>
    </div>
        {% include 'components/footer.html.twig' %}
  </div>
</div>
{% endblock body %}

